.product-card {
  width: 260px;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #e3dcd2cc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 260px;
  height: 260px;
  object-fit: cover;
}

.product-card h3,
.product-card p {
  margin-top: 7px;
  text-align: left;
}
