.search-bar {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #858585;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-bar input[type="text"]::placeholder {
  color: #858585;
}
