.ShopHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 358px;
  background-color: #e3dcd2;
  padding: 0 50px;
}

.section.ShopHeader .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.section-text.ShopHeader {
  flex-grow: 1;
  min-width: 0;
}

.section.ShopHeader .section-content .section-text h2 {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  color: black;
}

.section img.ShopHeader {
  width: 660px;
  height: 195px;
  object-fit: cover;
}
