.section.about-us {
  background-color: #013328;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 552px;
}

.section-content {
  display: flex;
  gap: 150px;
  align-items: center;
}

.section.about-us .section-content .section-text {
  width: 350px;
  color: white; /* Ensures all text in the section is white */
}

.section.about-us .section-content .section-text h2 {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white; /* White underline for contrast */
  color: white; /* Sets text color to white for visibility */
}

.section.about-us img {
  width: 600px;
  height: 400px;
  margin-top: 90px;
  margin-bottom: 90px;
}
