.section.about-us {
  background-color: #013328;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 552px;
}

.section.about-us .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  max-width: 1200px;
}

.section.about-us .section-content .section-text {
  width: 350px;
  color: white;
}

.section.about-us .section-content .section-text h2 {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  color: white;
}

.section.about-us img {
  width: 600px;
  height: 400px;
  margin-top: 90px;
  margin-bottom: 90px;
}
