.section.landscape {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 552px;
}

.section.landscape .section-content {
  display: flex;
  gap: 50px; /* Space between text and image */
  align-items: center; /* Align items vertically */
  max-width: 1200px; /* Max width of the content within the section */
}

.section.landscape h2 {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black; /* Black line for visibility on light background */
}

.section-text.landscape {
  width: 350px;
}

.section img.landscape {
  width: 600px;
  height: 400px;
  margin-top: 90px;
  margin-bottom: 90px;
  object-fit: cover;
}
