.section.wildlife {
  background-color: #e3dcd2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 552px;
}

.section.wildlife .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  max-width: 1200px;
}

.section.wildlife h2 {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.section-text.wildlife {
  width: 350px;
}

.section-content img.wildlife {
  width: 600px;
  height: 400px;
  margin-top: 90px;
  margin-bottom: 90px;
}
